<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
    href="/static/madlibs.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Let's play madlibs!</h1>
    <form action="/madlib">
    <br>
    Enter a color: <input type="text" name="color"><br>
    Enter a noun: <input type="text" name="noun"><br>
    Enter an adjective? <input type="text" name="adjective"><br>
    Enter a person's name? <input type="text" name="person_name"><br>
    <input type="submit">
</form>
</body>
</html>